*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui;
}

form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

form * {
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding: 0 0.5rem;
}
.wow-form {
  display: grid;
  grid-template-columns: 12fr 1fr 10fr;
}

.tasten {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px;
  margin: 0.5rem;
}

.button {
  text-align: center;
  font-size: 1.5rem;
}

.error {
  color: red;
  line-height: 3rem;
  font-weight: bold;
}
