*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui;
}

form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

form * {
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding: 0 0.5rem;
}
.wow-form {
  display: grid;
  grid-template-columns: 10fr 2fr;
}

.calc-display {
  border: 1px solid black;
  width: 400px;
  height: 50px;
}

.tasten {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  margin: 0.8rem;
}

.button {
  /* text-align: center; */
  text-align: justify;
  font-size: 1.2rem;
}

.error {
  color: red;
  line-height: 3rem;
  font-weight: bold;
}
